{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Configurações</title>
        <meta charset="UTF-8">
        <meta name="viewport">
        <link rel="stylesheet" href="{% static 'feed/css/config.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="content-list">
            <div class="title">
                <img class="heart" alt="Doe-Se" src="{% static 'feed/img/heart_white.png' %}">
            </div>
            <div class="options">
                <a href="/feed"><button class="btn"><i class="icon fa fa-home"></i>Início</button></a>
                <a href="/"><button class="btn"><i class="icon fa fa-sign-out"></i>Sair</button></a>
            </div>
        </div>
    </body>
</html>