{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Doe-se</title>
        <meta charset="UTF-8">
        <meta name="viewport">
        <link rel="stylesheet" href="{% static 'feed/css/landing.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="imgcontainer">
            <img src="{% static 'feed/img/heart_white.png' %}" alt="Avatar" class="avatar">
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <a href="/login"><button type="button" class="cancelbtn">Entrar</button></a>
        </div>
    </body>
</html>