{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Doe-se</title>
        <meta charset="UTF-8">
        <meta name="viewport">
        <link rel="stylesheet" href="{% static 'feed/css/landing.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favico/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favico/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favico/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favico/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'favico/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#faaaba">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="top-bar">
            <img src="{% static 'feed/img/heart_white.png' %}" alt="Avatar" class="heart">
            <div class="buttons">
                <a href="/login"><button type="button" class="loginbtn">Entrar como usuário</button></a>
                <a href="/login_org"><button type="button" class="loginbtn">Entrar como instituição</button></a>
                <a href="/create_account"><button type="button" class="loginbtn">Criar conta</button></a>
                <a href="/create_institution"><button type="button" class="loginbtn">Cadastrar instituição</button></a>
            </div>
        </div>
        <div class="content">
            <div class="main-text">
                <div class="title-text">DOAÇÕES SALVAM VIDAS</div>
                <div class="other-text">O Doe-se é uma plataforma que conecta centros de doação a pessoas dispostas a ajudar.</div>
                <div class="other-text">Se interessou pela ideia? Quer ajudar? Cadastre-se já!</div>
            </div>
            <img src="{% static 'feed/img/make-a-donation.png' %}" alt="Avatar" class="donate">
        </div>
    </body>
</html>