* {
    
    box-sizing: border-box;
    font-family: Verdana, Helvetica, sans-serif;
}

body {
    background-color: #EB5B6C;
}

.heart{
    width: 300px;
    margin: 50px;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    background-color: #ffffff;
    width: 50%;
    min-width: 500px;
    max-width: 1000px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 15px;
    padding: 15px
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


/* Add padding to containers */
.container {
    padding: 16px;
    background-color: #ffffff;
}

.container2 {
    padding: 16px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.other {
    right: 0;
}
.fgpsw {
    padding: 4px;
    right: 0;
    background-color: rgba(red, green, blue, 0);
}

a {
    background-color: rgba(red, green, blue, 0);
}